$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import 'colors';

$background-color: #f8f8f8;;
$font-color: #D7BDE2;
$header: #48C9B0;
$modalbody: #F2F4F4;
$darkgrey: #363636;
$medgrey: #636363;
$lightgrey: #c3c3c3;
$black: #000;
$darkorange: #cd661d;
$white: #ffffff;

body {
  background-color: $background-color;
  background-position: bottom;
  color: $darkgrey;
  font-size: 13px;
  font-family: helvetica;
  margin-top: 20px;
  background-repeat: no-repeat, repeat;
}

h1 {
  color: $header;
  font-size: 100px;
  font-weight: bold;
  font-family: Amatic SC;
  padding: 1px;
  text-align: center;
  text-transform: uppercase;
}


.Square{
  height: 100px;
  width: 100px;
  font-size: 30px;
  text-align: center;
  border-color: $black;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.modal-body {
  background-color: $modalbody;
  font-size: 13px;
}

.modal-header {
  font-size: 12px;
}

.game-message {
font-color: $darkorange;
}
