$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #363636;
$font-color: #dfdfdf;
$orange: #e67e00 ;
$darkgrey: #363636;
$medgrey: #636363;
$lightgrey: #c3c3c3;
$black: #000;
$darkorange: #cd661d;
$white: #ffffff;

body {
  background-color: black;
  background-image: url("http://cuhvz.com/images/cover-invert.png");
  background-position: bottom;
  color: $lightgrey;
  font-size: 12px;
  font-family: arial;
  margin-top: 20px;
  background-repeat: no-repeat, repeat;
}

h1 {
  color: $darkorange;
  font-size: 80px;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  color: $medgrey;
  font-weight: bold;
  font-size: 30px;
  padding: 1px;
  text-align: center;
  text-transform: uppercase;
}


.board, .msg {
	margin: 0 auto;
	margin-top: 30px;
	width: 80%;
	max-width: 400px;
}
.board {
	position: relative;
	background-color: $medgrey;
}
@media (max-width: 400px) {
	.board {
		width: 90%;
	}
}
.cell {
	width: 30%;
	margin: 1.6%;
	float: left;
	background-color: $darkgrey;
	text-align: center;
}

.cell.win {
	color: $darkorange;
}

.player {
	width: 50%;
	height: 80px;
	float: left;
	text-align: center;
}
.arrow, .mark {
	width: 60%;
}
.player1 > div {
	float: right;
}
.player2 > div {
	float: left;
}
.arrow {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
}
.arrow.inv {
	visibility: hidden;
}
.arrow-r {
	border-left: 20px solid $darkorange;
}
.arrow-l {
	border-right: 20px solid $darkorange;
}
.mark {
	font-size: 80px;
	line-height: 20px;
}
.ss {
	clear: both;
	font-size: 16px;
	text-align: center;
	font-family: sans-serif;
	padding: 22px 0;
}
